.container-fluid {
    background-color: black;
    }


    /* .row {
        background-color: white;
        height: 400px;
    } */

    
    

    .description {
        color: white;
        font-weight: bolder;
    margin-left: 20%;
    padding-top: 14%;
    font-size: 4em;
    text-shadow: 2em;
    }

    .small-description {
        color: white;
        font-weight: lighter;
        margin-left: 20%;
        margin-bottom: 30%;

    }

    .selections {
        margin-left: 20%;
        margin-top: -25%;
        font-weight: bolder;
        color: white;
        font-size: 1.5em;
  
    }

    .navbar {
        background-color: rgb(247, 250, 253);
    }


    .row p {
        font-weight: bold;
        font-size: 1.8em;
       
    }

    .row {
        background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    }
   

     #choosePerson {
        height: 2em;
        width: 20%; 
        top: 20%;
    }

.admin-body {
   background-color: skyblue

}

.admin-main {
    /* background-color: white; */
}

#displayItems {
    background-color: white;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-bottom: 5%;
  float: left;
}

.admin-dashboard {
    float: right;
  font-weight: normal;
  /* margin-left: 5%; */
}

.card-body {
    width: 100%;
    
}
.card-img-top {
  /* margin-top: -10%; */
  padding-right: 5%;
  padding-left: 5%;
  height: 80%;
  
  
}
.card-img-top:hover {
    padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  
}

html {
    background-color:skyblue;
}

.quote {
    margin-top: 15%;
    
    
}
img {
    width: 100%;
    height: 10%;
}

.fa-pen {
   margin-left: 10%;
}

.fa-trash {
    margin-left: 15%;
}

form {
    /* margin: auto; */
    margin-left: 5%;
    margin-right: 50%;
}
