.container-fluid {
    background-color: black;
    }

    .header {
        background-color: blue;
    }

    .choose-item {
        background-color: white;
        height: 400px;
    }

    .card {
        /* z-index: 0; */
        position: absolute;
        top: 7%;
        margin-left: 200px;
        margin-top: 5%;
    }
    
    

    .description {
        color: white;
        font-weight: bolder;
    margin-left: 20%;
    padding-top: 14%;
    font-size: 4em;
    }

    .small-description {
        color: white;
        font-weight: lighter;
        margin-left: 20%;
        margin-bottom: 30%;

    }

    #btn1 {
        margin-left: 20%;
        margin-top: -55%;
        font-weight: bolder;
        width: 8%;
    }

    .navbar {
        background-color: rgb(247, 250, 253);
    }
