.jumbotron {padding-top: 10px; padding-bottom: 15px;}
.container-fluid {max-width: 80%;}

#adminLink {

float: right;
position: sticky;
text-decoration: underline;
color: blue;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .delItem {
      float: right;
  }